<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]='miForm'
      (ngSubmit)='save()'>

      <!-- Region -->
    <div class="row">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control"
                    formControlName='region'>
                <option value=""> -- Seleccione Region -- </option>
                <option *ngFor="let region of regiones"
                        [value]="region | lowercase"> {{ region }} </option>
            </select>
        </div>
    </div>
    <br>
      <!-- Countries -->
    <div class="row" *ngIf="countries.length !== 0">
        <div class="col">
            <label class="form-label">Pais:</label>
            <select class="form-control"
                    formControlName='pais'>
                <option value=""> -- Seleccione Pais -- </option>
                <option *ngFor="let country of countries"
                        [value]="country.alpha3Code"> {{ country.name }} </option>
            </select>
        </div>
    </div>
    <br>
      <!-- Fronteras -->
    <div class="row" *ngIf="LimitCountries.length > 0">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select class="form-control"
                    formControlName='frontera'>
                <option value=""> -- Seleccione La Frontera -- </option>
                <option *ngFor="let border of LimitCountries"
                        [value]="border.alpha3Code"> {{ border.name }} </option>
            </select>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="loading">
        <div class="col">
            <div class="alert-primary">
                Cargando...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                    Aceptar
            </button>
        </div>
    </div>


</form>
<br>
<h3>Formulario valid</h3>
<pre> {{miForm.valid}} </pre>

<h6>Formulario valor</h6>
<pre> {{miForm.value | json}} </pre>